<div id="<%= dom_id(comment) %>">
  <%# this if/else statement displays a form if the user clicks on Edit Comment.
  It creates a parameter 'comment_id' and if it equals the id of the current comment
  (in .each loop back in show page) then it displays the form %>
  <%# if params[:comment_id].to_i == comment.id %>
    <%# the comment form now requires you to pass in a parameter for 'comment';
    not using an instance variables allows us to have two forms on one page, one
    for updating, one for creating %>
    <%#= render "/comments/form", comment: comment %>
  <%# else %>
    <%= comment.body %> |
    <%= comment.created_at.strftime("%B %d, %Y") %>
    <% if can? :edit, comment %>
    <%= link_to "Edit", edit_comment_path(comment), remote: true %>
    <% end %>
    <% if can? :destroy, comment %>
    <%= link_to "Delete", [@post, comment],
                          method: :delete,
                          remote: true,
                          style: "text-align: right;",
                          data: {confirm: "Are you sure?"}%>
    <% end %>
  <%# end %>
  <hr>
</div>
