<ul>
  <% @comment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>

<%= form_for @comment do |f| %>
  <%= content_tag(:div, class: "form-group") do %>
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  <% end %>
  <%= f.submit class: "btn btn-success" %>
<% end %>
