<!DOCTYPE html>
<html>
<head>
  <title>RailsBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= content_tag(:div, class: "container-fluid") do %>
  <%= content_tag(:div, class: "row") do %>
    <%= content_tag(:div, class: "col-sm-7") do %>
      <%= link_to "Home", home_path %> |
      <%= link_to "About", about_path %> |
      <%= link_to "All Posts", posts_path %> |
      <%= link_to "New Post", new_post_path %> |
      <% if user_signed_in? %>
        Welcome <%= link_to "#{current_user.first_name} #{current_user.last_name}", user_path(current_user) %>! |
        <%= link_to "Log Out", sessions_path, method: :delete, data: {confirm: "Are you sure you want to log out?"} %>
      <% else %>
        <%= link_to "Sign In", new_session_path %> |
        <%= link_to "Sign Up", new_user_path %> |
      <% end %>
      <%= notice || alert %>
    <% end %>
    <%= content_tag(:div, class: "col-sm-5") do %>
      <%= form_tag("/posts/search", method: "get", class: "form-inline") do %>
        <%= content_tag(:div, class: "form-group") do %>
          <%= text_field_tag(:q, session[:q], class: "form-control") %>
          <%= submit_tag("Search Posts", class: "btn btn-primary") %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= content_tag(:div, class: "row") do %>
    <%= content_tag(:div, class: "col-sm-12") do %>
      <%= yield %>
    <% end %>
  <% end %>
<% end %>

</body>
</html>
